:root {
    --container: 1000;
  }

.main_footer {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    margin-top: 40px;
}

.main_footer_contact {
    margin-top: 32px;
}

.main_footer_contact_about,
.main_footer_contact_explore,
.main_footer_contact_browse,
.main_footer_contact_us,
.main_footer_contact_social {
    display: inline-block;
    vertical-align: top;
}

.main_footer_contact_about_title,
.main_footer_contact_explore_title,
.main_footer_contact_browse_title,
.main_footer_contact_us_title,
.main_footer_contact_social_title {
    text-transform: uppercase;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.main_footer_contact_about,
.main_footer_contact_explore,
.main_footer_contact_browse,
.main_footer_contact_us {
    color: #363636;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.main_footer_contact_about {
    width: calc(233 / var(--container) * 100%);
}

.main_footer_contact_explore {
    width: calc(71 / var(--container) * 100%);
}

.main_footer_contact_browse {
    width: calc(108 / var(--container) * 100%);
}

.main_footer_contact_us {
    width: calc(140 / var(--container) * 100%);
}

.main_footer_contact_social {
    width: calc(193 / var(--container) * 100%);
}

.main_footer_contact_explore_list_item_link,
.main_footer_contact_browse_list_item_link {
    color: #363636;
    text-decoration: none;
}

.main_footer_contact_explore_list_item_link:hover,
.main_footer_contact_browse_list_item_link:hover {
    text-decoration-color: #363636;
    text-decoration: underline;
    text-decoration-style: solid;
}

.main_footer_contact_explore_list_item,
.main_footer_contact_browse_list_item,
.main_footer_contact_social_list,
.main_footer_contact_us_adres_list {
    list-style: none;
}

.main_footer_contact_explore_list_item,
.main_footer_contact_browse_list_item,
.main_footer_contact_us_adres_list_item {
    padding-top: 14px;
}
.main_footer_contact_us_adres_list_item{
    padding-top: 0;
}
.main_footer_contact_us_adres_list_item:first-child{
    padding-top: 14px;
}
.main_footer_contact_us_adres_list_item:nth-child(4){
    padding-top: 14px;
}

.main_footer_contact_explore_list,
.main_footer_contact_browse_list,
.main_footer_contact_us_adres_list {
    margin: 0;
}

.main_footer_contact_us_adres_list_item--b {
    font-weight: bold;
}

.main_footer_contact_explore_list,
.main_footer_contact_browse_list,
.main_footer_contact_social_list,
.main_footer_contact_us_adres_list {
    padding: 0;
}

.main_footer_contact_explore {
    margin-left: 67px;
}

.main_footer_contact_browse {
    margin-left: 77px;
}

.main_footer_contact_us {
    margin-left: 65px;
}

.main_footer_contact_social {
    margin-left: 30px;
}

.main_footer_contact_social_list,
.main_footer_contact_social_list_item {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.main_footer_contact_social_list_item {
    margin-right: 17px;
    margin-top: 20px;
}

.main_footer_contact_social_list_item_link {
    width: 53px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: 53px 51px;
    display: inline-block;
    vertical-align: top;
    background-position: center center;
    font-size: 0;
}

.main_footer_contact_social_list_item:nth-child(3n) {
    margin-right: 0;
}

.facebook {
    background-image: url("../img/facebook_53x51.png");
}

.dribbble {
    background-image: url("../img/dribbble_53x51.png");
}

.pinterest {
    background-image: url("../img/pinterest_53x51.png");
}

.linkedin {
    background-image: url("../img/linkedin_53x51.png");
}

.skype {
    background-image: url("../img/skype_53x51.png");
}

.share {
    background-image: url("../img/share_53x51.png");
}

.main_footer_copy_text {
    float: left;
    vertical-align: top;
    width: 640px;
    color: #363636;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 43px;
    margin-bottom: 53px;
}

.main_footer_copy_logo {
    float: right;
    vertical-align: top;
    padding: 0;
    margin-top: 64px;
}