/* @font-face {
    font-family: "ArialMT";
    src: url ("../fonts/ArialMT.otf");
}

@font-face {
    font-family: "Arial-BoldMT";
    src: url ("../fonts/Arial-BoldMT.otf");
}

@font-face {
    font-family: "Arial-BoldItalicMT";
    src: url ("../fonts/Arial-BoldItalicMT.otf");
} */

/* font-family: "Lato","times new roman", sans-serif; */

/* font-family: "ArialMT", "times new roman", sans-serif; */

body {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}