@font-face {
    font-family: "ArialMT";
    src: url ("../fonts/ArialMT.otf");
}

@font-face {
    font-family: "Arial-BoldMT";
    src: url ("../fonts/Arial-BoldMT.otf");
}

@font-face {
    font-family: "Arial-BoldItalicMT";
    src: url ("../fonts/Arial-BoldItalicMT.otf");
}

/* font-family: "Lato","times new roman", sans-serif; */

/* font-family: "ArialMT", "times new roman", sans-serif; */

body {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.main_header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
}

.logo {
    float: left;
    padding-top: 42px;
    padding-bottom: 40px;
}

.logo_part1 {
    font-family: "Lato", "times new roman", sans-serif;
    font-size: 50px;
    text-align: left;
    color: #000000;
    font-weight: 900;
    line-height: 20px;
}

.logo_part2 {
    font-family: "Lato", "times new roman", sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: #2aacc8;
    line-height: 20px;
}

.main_menu {
    float: right;
}

.main_menu_list {
    display: inline-block;
    margin: 0;
    padding: 39px 0 50px 0;
    list-style: none;
    font-size: 0;
}

.main_menu_list_item {
    display: inline-block;
    padding: 0;
    padding-top: 10px;
    position: relative;
    text-align: center;
}

.main_menu_list_item_link {
    text-decoration: none;
    color: #000000;
    font-family: "Arial-BoldMT", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0 20px 0 25px;
}

.main_submenu_list_item {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 0 0 #2aacc8;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    display: none;
    min-width: 200px;
    text-align: left;
}

.main_submenu_list_item:first-child {
    border-top: none;
    padding-top: 20px;
}

.main_menu_list_item:hover .main_submenu_list_item {
    display: block;
}

.main_menu_list_item:hover {
    border-top: 5px solid #2aacc8;
    padding-top: 5px;
}

.main_submenu_list {
    padding: 0;
    position: absolute;
    left: 0;
}

.main_submenu_list_item_link {
    text-decoration: none;
    color: #000000;
    font-family: "ArialMT", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 30px;
}

.dropdown:hover .main_menu_list_item_link {
    color: #2aacc8;
}

.dropdown:hover {
    background-color: #ffffff;
}

.main_submenu_list_item_link:hover {
    color: #2aacc8;
}

.dropdown>.main_menu_list_item_link {
    background-image: url(../img/down_arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 7px 5px;
    margin-right: 10px;
}
/* gallery */
.gallery, .gallery_banner_title, gallery_banner_img, gallery_banner{
    outline: 1px solid green;
}
.gallery{background-color: #81e4ed;padding-top: 20px;padding-bottom: 40px;}
.gallery_banner{background-image: url(../img/banner.png);}
.gallery_banner_title{display: inline-block;vertical-align: top;margin-top: 102px;margin-left: 61px;font-family: Lato;
    font-size: 50px;
    font-weight: 700;width: 294px;margin-right: 64px;}