@font-face {
    font-family: "ArialMT";
    src: url ("../fonts/ArialMT.otf");
}
@font-face {
    font-family: "Arial-BoldItalicMT";
    src: url ("../fonts/Arial-BoldItalicMT.otf");
}
@font-face {
    font-family: "Arial-BoldItalicMT";
    src: url ("../fonts/Arial-BoldItalicMT.otf");
}
/* font-family: "Lato","times new roman", sans-serif; */
    /* font-family: "ArialMT", "times new roman", sans-serif; */

body {
    margin: 0;
    padding: 0;
}